{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="log_up.css">
    <title>Modern Login Page | AsmrProg</title>
    <link rel="stylesheet" href="{% static 'css/log_up.css' %}">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post" action="{% url 'register_and_login' %}">
                <h1>Create Account</h1>
                {% csrf_token %}
                
                {% for field in signup_form %}
                <p>
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                     {{ field.label_tag }} {{ field }}
                </p>
                {% endfor %}
                <button type="submit" name="signup_submit">Register</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post" action="{% url 'register_and_login' %}">
                <h1>Sign-in</h1>
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" name="login_submit">Login</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">2
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/ef.js"></script>
</body>

</html>